.avantica {
    font-size: 24px;
}

.log-in {
    font-size: 20px;
    width: 5%;
    margin-left: 78%;
}

.sign-up {
    font-size: 20px;
    width: 5%;
}

.navbar {
    height: 20%;
}

/*This is Nav bar of topic*/

.training {
    font-size: 24px;
}

.signup {
    font-size: 20px;
    width: 5%;
    margin-left: 70%;
}

.topic {
    font-size: 20px;
    width: 5%;
    margin-left: 1%;
}

.resources {
    font-size: 20px;
    width: 6%;
}

@media only screen and (max-width: 1366px) {
    .avantica {
        font-size: 20px;
    }
    .log-in {
        font-size: 20px;
        width: 6%;
        margin-left: 74%;
    }
    .sign-up {
        font-size: 20px;
        width: 7%;
    }
    .copy {
        background-color: blueviolet;
    }
    .training {
        font-size: 20px;
    }
    
    .signup {
        font-size: 20px;
        width: 8%;
        margin-left: 65%;
    }
    
    .topic {
        font-size: 18px;
        width: 6%;
        margin-left: 1%;
    }
    
    .resources {
        font-size: 18px;
        width: 7%;
    }
}