#nuevoTopic {
    display: grid;
    grid-template-columns: 300px;
    margin-top: 50px;
    margin-left: 150px;
}

.save {
    width: 7%;
    margin-top: 2%;
    margin-left: 150px;
    background-color: rgb(0, 102, 255);
    color: floralwhite;
}

#entrada {
    margin-left: 150px;
}

#nom {
    margin-top: -10px;
    margin-left: 155px;
    font-size: 18px;
    font: bold;
}

.control {
    margin-top: 10px;
    margin-left: 150px;
    width: 40%;
}

.adder {
    width: 17%;
    height: 40px;
    margin-left: 120px;
    margin-top: 10px;
}

#editarTopic {
    display: grid;
    grid-template-columns: 300px;
    margin-top: 50px;
    margin-left: 150px;
}

.controler {
    margin-top: 10px;
    margin-left: 150px;
    width: 100%;
}

.list {
    margin-left: 12.5%;
    color: rgb(0, 82, 121);
    width: 80px;
}

.guardar {
    width: 10px;
    height: 43px;
    margin-top: 10px;
    margin-left: 148px;
    font-size: 24px;
}

.description {
    margin-top: 10px;
    margin-left: 150px;
    width: 140%;
    border: 1px solid rgba(207, 207, 207, 0.8);
    /* border-left:5px solid #AB4846 ;*/
}

.url {
    margin-top: 30px;
    margin-left: 150px;
    width: 140%;
}

.addres {
    display: grid;
    margin-top: 60px;
    margin-left: 145px;
    width: 90%;
}

#add-new {
    font-size: 40px;
}

.btn-back {
    margin-left: 215px;
    margin-top: -30px;
    color: rgb(0, 82, 121);
    width: 80px;
}

.dropdown {
    font-size: 19px;
    margin-top: 30px;
}

label {
    margin-left: 10px;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f {
    width: 60px;
    margin-left: 150px;
    margin-top: 15px;
    background-color: rgb(0, 75, 187);
    color: floralwhite;
}

.box {
    margin-top: 30px;
}

.color:valid {
    border-left: 5px solid #42A948;
}

.color:invalid {
    border-left: 5px solid #AB4846;
}

.color:valid {
    border-left: 5px solid #42A948;
}

.control select:invalid {
    border-left: 5px solid #AB4846;
}

.update {
    width: 55%;
    margin-left: 800px;
    margin-top: -350px;
    font-size: 18px;
}

.DescriptionName {
    font-size: 20px;
}

.updates {
    width: 40%;
    height: 40%;
    margin-left: 55%;
    margin-top: -260px;
    font-size: 18px;
}

.table tbody tr th div{
display: grid;
grid-template-columns: repeat(2,auto);
width: 100%;
justify-content: center;
gap: 10px;
}