#formas {
   display: grid;
   width: 1921px;
   height: 60px;
   margin-left: -1px;
   background-color: whitesmoke;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-log {
   margin-left: 90%;
   font-size: 20px;
   margin-top: -37px;
   width: 70px;
}

.top-sign {
   margin-left: 1780px;
   font-size: 20px;
   margin-top: -35px;
   width: 80px;
}

.topic {
   margin-left: 230px;
   font-size: 20px;
   margin-top: -24px;
   width: 185px;
}

.resour {
   margin-left: 330px;
   font-size: 20px;
   margin-top: -31.5px;
   width: 185px;
}

Tbody {
   background-color: whitesmoke;
   border: rgb(129, 129, 129) 1px solid;
   @media only screen and (min-width: 768px) {
      width: 50%;
   }
}

#fila {
   border: rgb(129, 129, 129) 1px solid;
   align-content: center;
   align-items: center;
   font-size: 24px;
}

.table-striped {
   width: 1000px;
   @media only screen and (min-width: 768px) {
      width: 50%;
   }
}

p {
   font-size: 50px;
   margin-right: 750px;
}