form{
   display: grid;
   background-color:whitesmoke;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   grid-template-columns: 1700px 100px 100px 100px;
   height: 60px;
   padding: 10px;
}
tbody{
background-color: whitesmoke;
border: rgb(129, 129, 129) 1px solid;
}
#fila{
   border: rgb(129, 129, 129) 1px solid;
   align-content: center;
   align-items: center;
}
.table-striped{
   width: 900px;
   height: 500px;
}
p{
   font-size: 50px;
   margin-left: 0px;
}
a{
  margin-top: 10px;
  color: rgb(65, 65, 65);
}
a:link{
   text-decoration: none;
}

