#forma {
    display: grid;
    width: 1920px;
    height: 60px;
    margin-left: -15px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-size: 20px;*/
}

#avantica {
    margin-left: 30px;
    margin-top: 14px;
    font-size: 20px;
    width: 190px;
   
}

#avantica::selection {
    color: black;
}

#topics {
    margin-top: -31px;
    margin-left: 250px;
    width: 40px;
}

#resources {
    margin-top: -34px;
    margin-left: 330px;
    width: 50px;
}

#logout {
    margin-top: -40px;
    margin-left: 1820px;
    font-size: 20px;
    width: 80px;
}

td {
    border: rgb(129, 129, 129) 1px solid;
    font-size: 24px;
}

#cuerpo {
    margin-top: 80px;
    justify-content: center;
}

#btnAzul {
    margin-top: 10px;
    margin-left: 52px;
    background-color: rgb(15, 66, 207);
    font: bold;
    font-size: 20px;
}
#btn-new {
    margin-top: 10px;
    margin-right: 965px;
    background-color: rgb(15, 66, 207);
    font: bold;
    font-size: 20px;
}

.enlace {
    width: 70px;
    margin-right: 1065px;
}

.table-striped {
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
}

#tema {
    color: rgb(0, 65, 187);
    font-size: 22px;
}

#nombre {
    font: normal;
}

#recurso {
    font-size: 18px;
}

#titulo {
    margin-right: 820px;
    font-size: 40px;
}

#titulo-r {
    font-size: 40px;
    margin-right: 750px;
}



